


@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gotham/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gotham/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('../fonts/gotham/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #dd816f;
    font-family: 'gothambold';
}


/* background */
.home{
    background: url("../images/bg_home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.categories{
    background: url("../images/bg_category.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg1seaanimal{
    background: url("../images/bg_seaanimal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg1animal{
    background: url("../images/pg1_animal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg1fruit{
    background: url("../images/pg1_fruit.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg1animal{
    background: url("../images/pg1_animal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg2fruit{
    background: url("../images/pg2_fruit.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg2profession{
    background: url("../images/pg2_profession.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pg2transportation{
    background: url("../images/pg2_transportation.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgaanimal{
    background: url("../images/kga_animal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgaclothes{
    background: url("../images/kga_clothes.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgadays{
    background: url("../images/kga_days.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgbanimal{
    background: url("../images/kgb_animal.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgbmonths{
    background: url("../images/kgb_months.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kgbnumber{
    background: url("../images/kgb_number_mandarin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* end of background */


.c1{
    background-color: aqua;
}

.container4{
    height: 10em;
    position: relative;
}

.container4 img{
    width: 70px;
    margin-top: 20px;
}

.container4 p{
    font-size: 28px;
    font-family: 'gothamlight';
    margin-top: 10px;
}

.container4 h5{
    font-family: 'gothamlight';
    font-size: 12px;
    color: rgba(51, 43, 43, 0.459);
    
}

.container4:hover h5{
    font-size: 14px;
    color: black;
}

.container4 a{
    text-decoration: none;
}



.container h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 140px;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: 'gothambold';
}



.conbar{
    margin-top: 100px;
}

.conbar a{
    color: black;
}

.conbar a h5{
    font-size: 28px;
    font-family: 'gothambold';
}

.conbar a p{
    font-size: 24px;
    font-family: 'gothamlight';
}



/* modal */
.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
min-height:400px;
background:rgb(204, 204, 204);
text-align: center;
}

.modal-body img {
    width: 480px;
    margin: 20px;
}




.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

#image {
min-height:200px;
}



/* end of modal */


